<!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0b3948;"> dark mode-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #68A891;">
  <a class="navbar-brand" href="/">Bblcrcy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (typeof user !== 'undefined') { %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">Kilépés</a>
          </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/bibliocrat" tabindex="-1" aria-disabled="true">könyvtáram: <%= numOfBibs %> könyv</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/login" role="button" aria-haspopup="true" aria-expanded="false">
          Lépj be
        </a>
      </li>
      <% } %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Felfedezés" aria-label="Felfedezés">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">mehet!</button>
    </form>
  </div>
</nav>
